.home{
    width: 100%;
}
.info{
    padding-top: 90px;
    background-color: var(--preto);
    text-align: center;
    font-size: 15rem;
    font-weight: 700;
}
.info p{
    padding-top: 15px;
    padding-bottom: 15px;
}
p a{
    color: var(--vermelho2);
}

/*  Cards*/
.destaque-servicos{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 4%;
    margin-top: 25px;
}
.destaque-servicos a{
    margin-top: 25px;
    cursor: pointer;
}
.card{
    margin-top: 15px;
    text-align: center;
    width: 250px;
    border-radius: 5px;
    border: 1px solid var(--preto);
    transition: transform 0.1s, box-shadow 0.2s; /* Adiciona uma transição suave para a transformação e a sombra */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra padrão */
}
.card:hover {
    transform: translateY(-2px); /* Eleva o card quando o mouse está sobre ele */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Aumenta a intensidade da sombra */     
}
.card-logo{
    margin-top: 15px;
    width: 50px;
    height: 50px;
}

.card-info{
    display: flex;
    text-align: left;
    margin-bottom: 15px;
}
.card-titulo{margin-top: 0px; margin-left: 10px;}
.card-titulo h2{
    font-size: 1rem;
    font-weight: 700;
}

#card-link{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
}

@media (max-width: 568px) { 
    .card{
        width: 200px;
    }
    .info p{
        font-size: 0.9rem;
    }
}